@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<eticaretb.Models.IcerikDiger>
<!-- RENDER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <!-- START DATATABLE EXPORT -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">İçerik Listesi / <a style="color:red;" href="/Admin/IcerikYonetimi/IcerikListele">Yeni İçerik Ekle</a></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Kategori</th>
                                <th>Ekleyen</th>
                                <th>Ekleme Tarihi</th>
                                <th>Düzenleyen</th>
                                <th>Düzenleme Tarihi</th>
                                <th>Resim</th>
                                <th style="width:200px">Araçlar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.UstMenu != null)
                                    {
                                        <td>@item.UstMenu.Adi</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>Emre</td>
                                    <td>@item.EklemeTarihi</td>
                                    <td></td>
                                    <td>@item.DuzenlemeTarihi</td>
                                    <td><img src="@item.KucukResimYolu" width="80px" height="50px" /></td>
                                </tr>

                            }



                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- RENDER -->
