<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Hakkında
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Bizim Hikayemiz
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Her şey, giyim ve moda alanında bir tutkuyla başladı. Stil sahibi olmak ve kendimizi ifade etmek, hayatımızın ayrılmaz bir parçası haline geldi. Ancak, geleneksel mağazalarda aradığımız benzersiz ve özgün parçaları bulmakta zorlandığımızı fark ettik. İşte bu noktada, online alışverişin sunduğu avantajları değerlendirerek kendi e-ticaret sitemizi kurmaya karar verdik. </p>

					<p class="stext-113 cl6 p-b-26">
Bizim hikayemiz, sizin tarzınızı en iyi şekilde yansıtabileceğiniz giyim parçalarını bulmanız için bir platform oluşturmakla başladı. Moda dünyasının en son trendlerini yakından takip ediyor ve koleksiyonumuzu buna göre güncelliyoruz. Kadın, erkek ve çocuklar için geniş bir ürün yelpazesi sunarken, stilinizi tamamlayacak aksesuarlara da yer veriyoruz.</p>

					<
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="~/images/about-01.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Misyonumuz
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Bizim misyonumuz, sizlere her zaman moda dünyasının en iyisini sunmak ve stilinizi tamamlayan giyim parçalarını bulmanızda size rehberlik etmektir. Sizlere mükemmel bir alışveriş deneyimi sunmak için sürekli olarak kendimizi geliştiriyor ve yeniliklere açık oluyoruz.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Biz, giyimde mükemmel parçaları bulmanız için size rehberlik etmek ve tarzınızı en iyi şekilde yansıtan ürünleri sunmak için buradayız. Misyonumuz, müşterilerimize özgün, kaliteli ve trendlere uygun giyim seçenekleri sunarken, mükemmel alışveriş deneyimini sağlamaktır.
                    </p>
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Yaratıcılık sadece bir şeyleri birbirine bağlamaktır. Yaratıcı insanlara bir şeyi nasıl yaptıklarını sorduğunuzda, kendilerini biraz suçlu hissederler çünkü gerçekten yapmadılar, sadece bir şey gördüler. Bir süre sonra onlara apaçık göründü.
                        </p>

                        <span class="stext-111 cl8">
                            - Steve Job’s
                        </span>
                    </div>
                </div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="~/images/about-02.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


